<section class="hero is-info is-fullheight">

  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-6 is-offset-3">
          <div *ngIf="!showError;else errorMsg">
            <h1 class="title">We are signing you in</h1>
            <h2 class="subtitle">
              <small>Please Wait</small>
            </h2>

            <br>

            <progress class="progress is-small is-primary" max="100">15%</progress>
          </div>

          <ng-template #errorMsg>
            <h1 class="title">You cancelled the request</h1>

            <br>

            <a [routerLink]="['/']" class="button is-primary">Go Home</a>
          </ng-template>
        </div>
      </div>
    </div>
  </div>

</section>
