<div class="commands">
  <!-- <div class="columns is-vcentered">
    <div class="column">
      <h1 class="title">Your Commands</h1>
      <h2 class="subtitle">You created these commands</h2>
    </div>
    <div class="column is-3">
      <a class="button is-primary is-rounded is-pulled-right" (click)="showAddCommand = true">Create Command</a>
    </div>
  </div>


  <div *ngIf="showAddCommand" [formGroup]="commandForm" class="columns">
    <div class="column is-4 ">
      <div class="field">
        <div class="control">
          <input class="input" type="text" placeholder="Command Name" required formControlName="command">
        </div>
        <p class="help" *ngIf="command.invalid && (command.dirty || command.touched)">
          
          <ng-template *ngIf="command.errors.required">
              Command is required.
          </ng-template>
          <ng-template *ngIf="command.errors.minlength">
            Command must be at least 3 characters long.
          </ng-template>
        </p>
      </div>
      <div class="field">
        <div class="control">
          <div class="select">
            <select required formControlName="games">
              <option disabled>Select Game</option>
              <option *ngFor="let game of games" [value]="game.id">{{ game.name }}</option>
            </select>
          </div>
        </div>
        <p class="help">This username is available</p>
      </div>
      <div class="field">
        <div class="control">
          <textarea class="textarea" placeholder="Decription" required formControlName="description"></textarea>
        </div>
        <p class="help">This username is available</p>
      </div>

      <div *ngIf="command.invalid && command.dirty" class="notification is-danger">
          {{ command.value }} is already taken
          {{ command.errors.commandAvailable }}
        </div>
        
        <div *ngIf="command.valid" class="notification is-success">
          {{ command.value }} is available
        </div>
        
        <div *ngIf="command.pending" class="notification is-info">
          Hold tight... Checking availability of {{ command.value }}
        </div>

        <p *ngIf="description">
            {{ description.errors.required }}
        </p>
      <a class="button is-primary">Create Command</a>
    </div>
  </div>

  <div class="columns is-mobile is-multiline is-variable is-2" *ngIf="showYourCommands; else emptyYourCommands">
    <div class="column is-6" *ngFor="let command of yourCommands">
      <div class="box">
        <article class="media">
          <div class="media-content">
            <div class="content">
              <h1 class="title is-5 has-text-white">{{ command.command }}</h1>
              <h2 class="subtitle is-6 has-text-grey-lighter">Created By @{{ command.createdBy }}</h2>
              <p>
                {{ command.description }} Effective games
                <span class="tag" *ngFor="let game of command.games" [routerLink]="['/dashboard/game', game]">
                  {{ game }}
                </span>
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>

  <ng-template #emptyYourCommands>
    <p *ngIf="!showAddCommand">
      You don't have commands. Click <a (click)="showAddCommand = true">here</a> to create one.
    </p>
    <br>
  </ng-template> -->

  <h1 class="title">Default Commands</h1>
  <h2 class="subtitle">Default game commands created by admins</h2>

  <div class="columns is-mobile is-multiline is-variable is-2">
    <div class="column is-6" *ngFor="let command of commands">
      <div class="box">
        <article class="media">
          <div class="media-content">
            <div class="content">
              <h1 class="title is-5 has-text-white">{{ command.command }}</h1>
              <h2 class="subtitle is-6 has-text-grey-lighter">Created By @{{ command.createdBy }}</h2>
              <p>
                {{ command.description }} Effective games
                <span class="tag" *ngFor="let game of command.games" [routerLink]="['/dashboard/game', game]">
                  {{ game }}
                </span>
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
