html, body
    width: 100%
    height: 100%

@import url('https://fonts.googleapis.com/css?family=Roboto')

// Set your brand colors
$purple: #9C27B0
$pink: #D81B60;
$blue: #2196F3;
$brown: #795548;
$beige-light: #D0D1CD;
$white: #FFFFFF;

// Update Bulma's global variables
$family-sans-serif: "Roboto", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $pink;
$link: $blue;
$info: $purple
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

$modal-content-width: 500px;
$modal-card-head-background-color: $pink;
$modal-card-body-background-color: $brown;
$modal-card-title-color: $white;

$menu-item-color: $white;
$menu-item-active-color: $white;
$menu-item-active-background-color: $info
$menu-label-color: $beige-light;

$box-background-color: $primary;
$box-color: $white;

$title-color: $white;
$subtitle-color: $white;

$label-color: $white;

.is-primary-bg 
    background-color: $primary

.is-info-bg
    background-color: $info

@import "./node_modules/bulma/bulma.sass"