<section class="hero is-primary is-fullheight">

  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-6 is-offset-3">
          <h1 class="title">Welcome to Streamer Box</h1>
          <h2 class="subtitle">
            <small>Sign in to get started today</small>
          </h2>

          <br>

          <a *ngIf="!loggedIn;else goDash" class="button is-info sign-in-twitch" (click)="auth.signInWithTwitch()">Sign
            In With Twitch</a>
          <ng-template #goDash>
            <a class="button is-info sign-in-twitch" [routerLink]="['/dashboard']">Go to Dashboard</a>
          </ng-template>
        </div>
      </div>
    </div>
  </div>

  <div class="hero-foot">
    <nav class="tabs">
      <div class="container">
        <ul>
          <li class="is-active"><a>Home</a></li>
          <li><a>Games</a></li>
          <li><a>About</a></li>
          <li><a>Contact</a></li>
          <li><a>Valerian Games</a></li>
        </ul>
      </div>
    </nav>
  </div>

</section>
